@page
@model FamilyHub.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<form method="post">
    <button type="submit" class="btn btn-outline-dark rounded-pill">Logout</button>
</form>
